{% load static %}
<html>
<head>
	<title>Mannskoret Klingende Mynt</title>
</head>
<body>
<h1>{{ heading }}</h1>
<table>
{% for song in songs %}
	<tr>
		<th>{{ song.name }}</th>
		<th>
			<audio id="player{{ song.songID }}"><source src="{{ song.demo.url }}" type="audio/mp3"></audio>
			<button onclick="document.getElementById('player{{ song.songID }}').play()">Play</button>
		</th>
	</tr>
{% endfor %}
</table>
</body>
</html>
