{% load static %}
<html>
<head>
	<title>Mannskoret Klingende Mynt</title>
</head>
<body>
<h1>Logout</h1>
<p>Du er nå logget ut. Ha en innbringende dag!</p>
<a href="{% url 'index' %}">Til forsiden</a>
</body>
</html>
