{% load static %}
<html>
<head>
	<title>Mannskoret Klingende Mynt</title>
</head>
<body>
<h1>Login</h1>
<form method="post">
	{% csrf_token %}
	{{ form.as_p }}
	<button type="submit">Login</button>
</form>
<a href="{% url 'password_reset' %}">Glemt brukernavn/passord?</a>
</body>
</html>
