{% load static %}
<html>
<head>
	<title>Mannskoret Klingende Mynt</title>
</head>
<body>
<h1>Resett passord</h1>
<p>Resett passordet ditt ved å oppgi din e-postadresse. Bruk den private adressen som er tilknyttet brukeren din til dette, ikke klingendemynt-adressen. Du vil også få opplyst brukernavnet ditt.</p>
<form method="post">
	{% csrf_token %}
	{{ form.as_p }}
	<button type="submit">Resett passord</button>
</form>
</body>
</html>
