{% load static %}
<html>
<head>
	<title>Mannskoret Klingende Mynt</title>
</head>
<body>
<h1>Passord valgt</h1>
<p>Passordet ditt er valgt. Hurra!</p>
<a href="{% url 'login' %}">Til login</a>
</body>
</html>
