{% load static %}
<html>
<head>
	<title>Mannskoret Klingende Mynt</title>
</head>
<body>
<h1>Passord endret</h1>
<p>Passordet ditt er endret. Hurra!</p>
<a href="{% url 'member' %}">Til min side</a>
</body>
</html>
