{% load static %}
<html>
<head>
	<title>Mannskoret Klingende Mynt</title>
</head>
<body>
<h1>Velg passord</h1>
<form method="post">
	{% csrf_token %}
	{{ form.as_p }}
	<button type="submit">Velg passord</button>
</form>
</body>
</html>
