{% load static %}
<html>
<head>
	<title>Mannskoret Klingende Mynt</title>
</head>
<body>
<h1>Error</h1>
<p>Uff da, her oppsto det en feil!</p>
<a href="{% url 'index' %}">Til forsiden</a>
</body>
</html>
