{% load static %}

<!DOCTYPE html>
<html>
<head lang="no">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Mannskoret Klingende Mynt</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js" type="text/javascript"></script>
	<link href="{% static 'main/css/desktop.css' %}" media='(min-width: 700px)' rel="stylesheet" type="text/css">
	<link href="{% static 'main/css/mobile.css' %}" media='(max-width: 700px)' rel="stylesheet" type="text/css">
	<link href="{% static 'main/css/mkmfonten.css' %}" charset="utf-8" rel="stylesheet" type="text/css"/>
	<link media="screen" href="https://fontlibrary.org/face/sans-guilt" rel="stylesheet" type="text/css">
	<link href="{% static 'main/images/BareLogo.png' %}" rel="icon">
</head>
<body>
<div>
	<div class="header">
		<div class="fixedDiv"></div>
		<div class="overlaymeny">
			<div class="logo"><a href="#top" class="smoothScroll"><img src="{% static 'main/images/hvitlogomedtekst.png' %}"></a></div>
			<div class="overlayknapper">
				<a href="#omoss" class="overlayknapp smoothScroll">Om oss</a>
				<a href="#tjenester" class="overlayknapp smoothScroll">Tjenester</a>
				<a href="#booking" class="overlayknapp smoothScroll">Book oss</a>
				<a href="#video" class="overlayknapp smoothScroll">Video</a>
				{% if showLoginButton %}
					<a href="{% url 'login' %}" class="overlayknapp">Login</a>
				{% else %}
					<a href="{% url 'member' %}" class="overlayknapp">Min side</a>
				{% endif %}
			</div>
			<nav id="menu">
					<label id="toggle-nav-label" for="toggle-nav"><img src="{% static 'main/images/menu.png' %}"></label>
					<input type="checkbox" id="toggle-nav">
					<div class="box">
						<ul>
							<li><a href="#omoss" class="smoothScroll">Om oss</a></li>
							<li><a href="#tjenester" class="smoothScroll">Tjenester</a></li>
							<li><a href="#booking" class="smoothScroll">Book oss</a></li>
							<li><a href="#video" class="smoothScroll">Video</a></li>
						</ul>
					</div>
			</nav>
		</div>
	</div>
	<div class="forside" name="top">
		<div class="lilladiagonal"><img class="forsidebildedesktop img-postload" src="{% static 'main/images/lilladiagonal.png' %}" order="3"><img class="forsidebildemobil img-postload" src="{% static 'main/images/lillarektangel.png' %}" order="4"></div>
		<h3 class="forsidetekst">Mannskoret</h3>
		<h3 class="forsidetekst2">Klingende</h3>
		<h3 class="forsidetekst3">Mynt</h3>
		<div class="forsidebilde">
			<img class="forsidebildedesktop img-postload" src="{% static 'main/images/forsidebildeK.jpg' %}" order="0">
			<img class="forsidebildemobil img-postload" src="{% static 'main/images/forsidebildemobilK.jpg' %}" order="1">		
		</div>
	</div>
	<div class="filler"></div>
</div>
<!--	
<div class="quotecontainer">
	<div class="quote">
		<img src="./assets/images/topplogo.png">
		<h1>Mastering Magnificence</h1>
	</div>
</div>
-->
<div class="container">
	<div class="grafer">
	<h1 class="stortittel" name="omoss">Om oss</h1>
	<hr>
	<p class="stortekst">Mannskoret Klingende Mynt er en konsulentvirksomhet og vokalensemble fra studielinjen Industriell økonomi og teknologiledelse på Norges teknisk-naturvitenskapelige universitet. Vårt klientell har ett fellestrekk, uløselige problemer, eller som vi MKM gjerne kaller det, utfordringer. Vi leverer konsulenttjenester til alle sektorer og utspenner hele verdikjeden. Grunnet våre lange arbeidsdager og intensive arbeid garanterer vi at vi leverer resultater raskere enn våre konkurrerende konsulenthus. Vi er lett gjenkjennelige med våre dresser med button og navneskilt eller våre gallaantrekk. I MKM har vi tre kjerneverdier: glød, spørrelyst og elastisitet.
	</p>
	<!--	
	<br>
	<br>
	<p class="stortekst centered">
		OUR MISSION:
		<br>
		<br>
		<i>MASTERING AND EMPOWERING GLOBAL MUSICAL MANAGEMENT CONSULTING WORLDWIDE THROUGH RELENTLESS EFFORTS IN SECTORS SPANNING THE ENTIRE VALUE CHAIN</i>
	</p>
	<br>
	-->
	<br>
	</div>
	<div class="medlemsseksjon">
		<div class="medlemsgrupper">
			<div class="medlemmer">
				<div class="allemedlemmer">
					<label class="collapse ansattelabel" for="_8"><p>Våre ansatte</p></label>
					<input id="_8" type="checkbox">
					<div class="medlemsboks">
						<div class="medlemsinnsideboks">
							{% for activeChoirMember in activeChoirMembers %}
								<div class="medlem">
									<div class="medlemsbilde">
										{% if activeChoirMember.linkedInURL %}
										<a href="https://www.linkedin.com/in/{{ activeChoirMember.linkedInURL }}/" target="_blank">
										{% else %}
										<a href="https://www.linkedin.com/" target="_blank">
										{% endif %}
											{% if activeChoirMember.image %}
												<img src="{{ activeChoirMember.image.url }}">
											{% else %}
												<img src="{% static 'main/images/BareLogo.png' %}">
											{% endif %}
										</a>
									</div>
									<div class="tekstboks">
										<h2>{{ activeChoirMember.fullName }}</h2>
										<h3>{{ activeChoirMembersBasicDescriptions|get_item:activeChoirMember.choirMemberID }}</h3>
										{% if activeChoirMember.quote %}
											<p>{{ activeChoirMember.quote }}</p>
										{% endif %}
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="grafer">	
		<div class="doughnuter">
			<div class="doughnutgraf">
			  <h2 class="hvittittel">Stemmefordeling</h2>
			  <hr>
			  <div>
			    <canvas id="stemmefordeling"></canvas>
			  </div>
			</div>

			<div class="doughnutgraf">
			  <h2 class="hvittittel">Trinnfordeling</h2>
			  <hr>
			  <div>
			    <canvas id="trinnfordeling"></canvas>
			  </div>
			</div>
		</div>
		
		<!-- VEKST- OG REPERTOARGRAFENE ER IKKE DYNAMISKE -->

		<div class="linjer">
			<div class="linjegraf">
			  <h2 class="hvittittel">Antall ansatte</h2>
			  <hr>
			  <div>
			    <canvas id="vekst"></canvas>
			  </div>
			</div>

			<div class="linjegraf">
			  <h2 class="hvittittel">Repertoar</h2>
			  <hr>
			  <div>
			    <canvas id="repertoar"></canvas>
			  </div>
			</div>
		</div>

		<!-- ############################################ -->

	</div>
	
	<br>
	<br>

	<div class="medlemsgruppeseksjon">
		<div class="medlemsgrupper">
			<div class="medlemmer">
					<div class="medlemstyper">
					<label for="_2" class="medlemlabel apartnere">{{ choirGroups.0.getDisplayNameIfDefined }}</label><input name="medlemsvelger" id="_2" type="radio">
					<label for="_3" class="medlemlabel amusicalmanagement">{{ choirGroups.1.getDisplayNameIfDefined }}</label><input name="medlemsvelger" id="_3" type="radio">
					<label for="_4" class="medlemlabel adeals">{{ choirGroups.2.getDisplayNameIfDefined }}</label><input name="medlemsvelger" id="_4" type="radio">
					<label for="_5" class="medlemlabel aetc">{{ choirGroups.3.getDisplayNameIfDefined }}</label><input name="medlemsvelger" id="_5" type="radio">
					<label for="_6" class="medlemlabel ashowering">{{ choirGroups.4.getDisplayNameIfDefined }}</label><input name="medlemsvelger" id="_6" type="radio">

				<div class="medlemsboks partnere">
				<h2>{{ choirGroups.0.description }}</h2>
				<div class="medlemsinnsideboks">
					{% for choirRole in choirGroups.0.choirRoles.all %}
						<div class="medlem">
							<div class="medlemsbilde">
								{% if choirRole.choirMember.linkedInURL %}
								<a href="https://www.linkedin.com/in/{{ choirRole.choirMember.linkedInURL }}/" target="_blank">
								{% else %}
								<a href="https://www.linkedin.com/" target="_blank">
								{% endif %}
									{% if choirRole.choirMember.image %}
										<img src="{{ choirRole.choirMember.image.url }}">
									{% else %}
										<img src="{% static 'main/images/BareLogo.png' %}">
									{% endif %}
								</a>
							</div>
							<div class="tekstboks">
								<h2>{{ choirRole.choirMember.fullName }}</h2>
								<h3>{{ choirRole.getDisplayNameIfDefined }}</h3>
							</div>
						</div>
					{% endfor %}
				</div>
				</div>

				<div class="medlemsboks musicalmanagement">
				<h2>{{ choirGroups.1.description }}</h2>
				<div class="medlemsinnsideboks">
					{% for choirRole in choirGroups.1.choirRoles.all %}
						<div class="medlem">
							<div class="medlemsbilde">
								{% if choirRole.choirMember.linkedInURL %}
								<a href="https://www.linkedin.com/in/{{ choirRole.choirMember.linkedInURL }}/" target="_blank">
								{% else %}
								<a href="https://www.linkedin.com/" target="_blank">
								{% endif %}
									{% if choirRole.choirMember.image %}
										<img src="{{ choirRole.choirMember.image.url }}">
									{% else %}
										<img src="{% static 'main/images/BareLogo.png' %}">
									{% endif %}
								</a>
							</div>
							<div class="tekstboks">
								<h2>{{ choirRole.choirMember.fullName }}</h2>
								<h3>{{ choirRole.getDisplayNameIfDefined }}</h3>
							</div>
						</div>
					{% endfor %}
				</div>
				</div>

				<div class="medlemsboks deals">
				<h2>{{ choirGroups.2.description }}</h2>
				<div class="medlemsinnsideboks">
					{% for choirRole in choirGroups.2.choirRoles.all %}
						<div class="medlem">
							<div class="medlemsbilde">
								{% if choirRole.choirMember.linkedInURL %}
								<a href="https://www.linkedin.com/in/{{ choirRole.choirMember.linkedInURL }}/" target="_blank">
								{% else %}
								<a href="https://www.linkedin.com/" target="_blank">
								{% endif %}
									{% if choirRole.choirMember.image %}
										<img src="{{ choirRole.choirMember.image.url }}">
									{% else %}
										<img src="{% static 'main/images/BareLogo.png' %}">
									{% endif %}
								</a>
							</div>
							<div class="tekstboks">
								<h2>{{ choirRole.choirMember.fullName }}</h2>
								<h3>{{ choirRole.getDisplayNameIfDefined }}</h3>
							</div>
						</div>
					{% endfor %}
				</div>
				</div>

				<div class="medlemsboks etc">
				<h2>{{ choirGroups.3.description }}</h2>
				<div class="medlemsinnsideboks">
					{% for choirRole in choirGroups.3.choirRoles.all %}
						<div class="medlem">
							<div class="medlemsbilde">
								{% if choirRole.choirMember.linkedInURL %}
								<a href="https://www.linkedin.com/in/{{ choirRole.choirMember.linkedInURL }}/" target="_blank">
								{% else %}
								<a href="https://www.linkedin.com/" target="_blank">
								{% endif %}
									{% if choirRole.choirMember.image %}
										<img src="{{ choirRole.choirMember.image.url }}">
									{% else %}
										<img src="{% static 'main/images/BareLogo.png' %}">
									{% endif %}
								</a>
							</div>
							<div class="tekstboks">
								<h2>{{ choirRole.choirMember.fullName }}</h2>
								<h3>{{ choirRole.getDisplayNameIfDefined }}</h3>
							</div>
						</div>
					{% endfor %}
				</div>
				</div>

				<div class="medlemsboks showering">
				<h2>{{ choirGroups.4.description }}</h2>
				<div class="medlemsinnsideboks">
					{% for choirRole in choirGroups.4.choirRoles.all %}
						<div class="medlem">
							<div class="medlemsbilde">
								{% if choirRole.choirMember.linkedInURL %}
								<a href="https://www.linkedin.com/in/{{ choirRole.choirMember.linkedInURL }}/" target="_blank">
								{% else %}
								<a href="https://www.linkedin.com/" target="_blank">
								{% endif %}
									{% if choirRole.choirMember.image %}
										<img src="{{ choirRole.choirMember.image.url }}">
									{% else %}
										<img src="{% static 'main/images/BareLogo.png' %}">
									{% endif %}
								</a>
							</div>
							<div class="tekstboks">
								<h2>{{ choirRole.choirMember.fullName }}</h2>
								<h3>{{ choirRole.getDisplayNameIfDefined }}</h3>
							</div>
						</div>
					{% endfor %}
				</div>
				</div>

				</div>
			</div>
		</div>
	</div>
	<br>
	<br>
	
	<!-- ORGANISASJONSTREET ER IKKE DYNAMISK -->

	<h2 class="hvittittel orgkart">Organizational map</h2>
	<hr class="orgkart">
	<div class="tree">
	<ul>
		  <li>
		    <div href="#">MKM</div>
		    <ul>
		      <li>
		        <div href="#">Musical Management</div>
		        <ul>
		          <li>
		            <div href="#">Production</div>
		          	<ul>
		              <li>
		                <div href="#">Arranging</div>
		              </li>
		            </ul>
		          </li><li>
		            <div href="#">Entertainment</div>
		            <ul>
		              <li>
		                <div href="#">Music</div>
		              </li><li>
		                <div href="#">Humour</div>
		              </li>
		            </ul>
		          </li>
		        </ul>
		      </li><li>
		        <div href="#">Corporate Finance</div>
		        <ul>
		          <li>
		            <div href="#">MKM Deals</div>
		            <ul>
		              <li>
		                <div href="#">Head of Deals</div>
		              	<ul>
		              		<li>
		                		<div href="#">Interns</div>
		              		</li>
		            </ul>
		              </li>
		            </ul>
		          </li><li>
		            <div href="#">Agronomy</div>
		            <ul>
		              <li>
		                <div href="#">Growth</div>
		              </li>
		            </ul>
		          </li>
		        </ul>
		      </li>
		    </ul>
		  </li>
		</ul>
	</div>

	<!-- ################################### -->

	<label class="collapse hvittittel" for="_1"><p class="bygg">Bygg karriere hos MKM</p></label>
	<input id="_1" type="checkbox">
	<div class="karriere">
		<div class="bildetekst">
			<img src="{% static 'main/images/gjengen.jpg' %}">
			<div class="tekstboks1"><h2>Internstilling {% now "Y" %}</h2>
				<p>Hos MKM blir man møtt med en bratt læringskurve, tidlig ansvar og gode reisemuligheter. Grunnet vår kraftige vekst er vi alltid på jakt etter nye konsulenter. Som medlem av MKM vil man bli del av et omfattende og raskt voksende nettverk med kompetanse innen samtlige næringer.</p>
				<p>Krav til søkende:</p>
				<ul>
					<li>Du identifiserer deg som mann</li>
					<li>Du studerer indøk på NTNU</li>
					<li>Du ønsker å synge</li>
				</ul>
				<p>Ta kontakt per epost for en uforpliktende samtale.</p>
			</div>
		</div>
	</div>
</div>
	<div class="fixedbildegreie">
		<div class="hvitboks" name="tjenester"><br><h1>Tjenester</h1><hr></div>
		<div class="rightbox">
			<div class="tjenestetekst hideme">
			<h1 class="stortittel">Korvirksomhet</h1>
			<p class="stortekst">MKM har en unik profil som kor. Dette er fordi vi har egenskrevne sanger som parodierer konsulentbransjen og finansverdenen, samtidig som vi også har et mer tradisjonelt korrepertoar. Uansett hvilken målgruppe, så har vi som mål å underholde gjennom en kombinasjon av høyt musikalsk nivå og humoristisk underholdning. Vi skreddersyr alltid et unikt opplegg for kundene våre.</p>
			</div>
		</div>
		<img class="imgleft lazy" src="{% static 'main/images/kjelkantinenavrundetK.png' %}" order="10">
		<div class="leftbox">
			<div class="tjenestetekst hideme">
			<h1 class="stortittel">Konferansiering</h1>
			<p class="stortekst">Vi i MKM har over lengre tid bygget opp mye kompetanse på konferansiering. Vi kan derfor by på konferansiering av ypperste klasse. MKM gir power til PowerPoint, og er eksperter på presentasjonsteknikk.</p>
			</div>
			<div class="tjenestetekst hideme">
			<h1 class="stortittel">Underholdning</h1>
			<p class="stortekst">Vi tilbyr også ikke-musikalsk humoristisk underholdning som en integrert del av opptredene våre.</p>
			</div>
		</div>
		<img class="imgright lazy" src="{% static 'main/images/konferansieringrundetK.png' %}" order="11">
	</div>
	<div class="booking" name="booking">
		<h1 class="stortittel">Book oss</h1>
		<div class="bookinginnhold">
		<hr>
			<p class="stortekst">Vi er svært fleksible på tid og anledning og kontakt oss gjerne her.</p>
			<div class="bookinginformasjon">
				<div><a class="anonymlink" href="mailto:{{ CEORole.emailPrefix }}@klingendemynt.no"><div><img class="bildelink1" src="{% static 'main/images/epost.png' %}"></div></a>Send oss en epost til {{ CEORole.emailPrefix }}@klingendemynt.no</div>
				<div><a class="anonymlink" href="tel:{{ CEORole.phoneNumber }}"><div><img class="bildelink2" src="{% static 'main/images/telephone.png' %}"></div></a>Ring oss på {{ CEORole.phoneNumber }}</div>
				<div><a class="anonymlink" href="https://www.facebook.com/klingendemynt/?fref=ts"  target="_blank"><div><img class="bildelink3" src="{% static 'main/images/facebookstor.png' %}"></div></a>Kontakt oss gjennom vår Facebookside</div>
			</div>
			<img class="konsulentbilde" src="{% static 'main/images/konsulenterK.jpg' %}">
		</div>
	</div>

	<div class="sitatboks1">
	<div class="bildetekst">
		<img src="{% static 'main/images/trump.jpg' %}">
		<div class="tekstboksh hideme"><h2 class="hvittittel sitathvittittel">"MKM is a great choir. You know, it’s a great business, and I know the best businesses. Obamacare is a disaster."</h2>
		<p class="signatur">- <i>Donald J. Trump</i></p>
		<p class="signatur litentekst">45th president of the United States</p>
		</div>
	</div>
	</div>
	<div class="sitatboks2">
	<div class="bildetekst hoyresentrert">
		<div class="tekstboksv hideme"><h2 class="hvittittel sitathvittittel">"Vi vil se en voldsom økning av musical management consulting de kommende årene, og MKM har sikret seg kritiske markedsandeler"</h2>
		<p class="signatur">- <i>Trygve Hegnar</i></p>
		</div>
		<img src="{% static 'main/images/hegnar.jpg' %}">
	</div>
	</div>
	<div class="sitatboks3">
	<div class="bildetekst">
		<img src="{% static 'main/images/martin.jpg' %}">
		<div class="tekstboksh hideme"><h2 class="hvittittel sitathvittittel">"MKM er et selskap i eksplosiv vekst og en bauta innen musical management consulting, lokalt og internasjonalt."</h2>
		<p class="signatur">- <i>Martin Fredrik Olsen, tidligere CEO</i></p>
		</div>
	</div>
	</div>
<div class="container">
	<div class="grafer">
		<h1 class="stortittel" name="video">Video</h1>
		<hr>
		<p class="stortekst sentrert">
			Dette er et opptak fra børsnoteringen av foretaket, våren 2019.
		</p>
		<br>
		<button id="myBtn"><img src="{% static 'main/images/thumbnailoverlay.png' %}"></button>

		<!-- The Modal -->
		<div id="myModal" class="modal">

		  <div class="modal-content">
		    <span class="close">&times;</span>
		    <iframe src="https://www.youtube.com/embed/i6MsprF2JHo" frameborder="0" allowfullscreen></iframe>
		  </div>
		</div>
	</div>
</div>
<!--
<div class="container">
	<div class="alumnimedlemsseksjon">
	</div>
</div>
-->
		<div class="linkmedia">
			<a href="https://www.linkedin.com/company/6598563?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A6598563%2Cidx%3A1-1-1%2CtarId%3A1482086258317%2Ctas%3Amannskoret" target="_blank"><img src="{% static 'main/images/linkedin.png' %}" hover="LinkedIn"></a>
			<a href="https://www.youtube.com/channel/UC8c7AM_e8xXqKuQt29uhQvA"  target="_blank"><img src="{% static 'main/images/youtube.png' %}" hover="Youtube"></a>
			<a href="https://www.facebook.com/klingendemynt/?fref=ts"  target="_blank"><img src="{% static 'main/images/facebook.png' %}" hover="Facebook"></a>
		</div>

		<div class="kontaktoss">
			<div>
				<div>
				<p>Adresse
				<br>
				Høgskoleringen 1<br>
				7491 Trondheim<br>
				Norge</p>
				</div>
				<div>
				<p>Kontakt<br>
				{{ CEORole.choirMember.fullName }}, CEO<br>
				{{ CEORole.phoneNumber }}<br>
				<a href="mailto:{{ CEORole.emailPrefix }}@klingendemynt.no" class="anonymlink">{{ CEORole.emailPrefix }}@klingendemynt.no</a></p>
				</div>
				<div class="samarbeidspartnere">
				<p>Våre samarbeidspartnere</p>
				<div>
				<img src="{% static 'main/images/norgeskorforbund.png' %}" title="Norges korforbund">
				<img src="{% static 'main/images/cantuscordis.png' %}" title="Cantus Cordis">
				<img src="{% static 'main/images/indol.png' %}" title="Indøk Ølbryggelaug">
				</div>
				</div>
			</div>
		<p class="sentrert rettigheter">© {% now "Y" %} Mannskoret Klingende Mynt <!--Ltd-->. All rights reserved.</p>
		</div>
</div>

<script type="text/javascript">
	$(".link").click(function(e){
    e.preventDefault();
    $(".popup").fadeIn(300,function(){$(this).focus();});
});

$('.close').click(function() {
   $(".popup").fadeOut(300);
});
$(".popup").on('blur',function(){
    $(this).fadeOut(300);
});
</script>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

<script type="text/javascript">
if (!window['jQuery']) alert('The jQuery library must be included before the smoothscroll.js file.  The plugin will not work propery.');
;(function($){var h=$.scrollTo=function(a,b,c){$(window).scrollTo(a,b,c)};h.defaults={axis:'xy',duration:parseFloat($.fn.jquery)>=1.3?0:1,limit:true};h.window=function(a){return $(window)._scrollable()};$.fn._scrollable=function(){return this.map(function(){var a=this,isWin=!a.nodeName||$.inArray(a.nodeName.toLowerCase(),['iframe','#document','html','body'])!=-1;if(!isWin)return a;var b=(a.contentWindow||a).document||a.ownerDocument||a;return/webkit/i.test(navigator.userAgent)||b.compatMode=='BackCompat'?b.body:b.documentElement})};$.fn.scrollTo=function(e,f,g){if(typeof f=='object'){g=f;f=0}if(typeof g=='function')g={onAfter:g};if(e=='max')e=9e9;g=$.extend({},h.defaults,g);f=f||g.duration;g.queue=g.queue&&g.axis.length>1;if(g.queue)f/=2;g.offset=both(g.offset);g.over=both(g.over);return this._scrollable().each(function(){if(e==null)return;var d=this,$elem=$(d),targ=e,toff,attr={},win=$elem.is('html,body');switch(typeof targ){case'number':case'string':if(/^([+-]=)?\d+(\.\d+)?(px|%)?$/.test(targ)){targ=both(targ);break}targ=$(targ,this);if(!targ.length)return;case'object':if(targ.is||targ.style)toff=(targ=$(targ)).offset()}$.each(g.axis.split(''),function(i,a){var b=a=='x'?'Left':'Top',pos=b.toLowerCase(),key='scroll'+b,old=d[key],max=h.max(d,a);if(toff){attr[key]=toff[pos]+(win?0:old-$elem.offset()[pos]);if(g.margin){attr[key]-=parseInt(targ.css('margin'+b))||0;attr[key]-=parseInt(targ.css('border'+b+'Width'))||0}attr[key]+=g.offset[pos]||0;if(g.over[pos])attr[key]+=targ[a=='x'?'width':'height']()*g.over[pos]}else{var c=targ[pos];attr[key]=c.slice&&c.slice(-1)=='%'?parseFloat(c)/100*max:c}if(g.limit&&/^\d+$/.test(attr[key]))attr[key]=attr[key]<=0?0:Math.min(attr[key],max);if(!i&&g.queue){if(old!=attr[key])animate(g.onAfterFirst);delete attr[key]}});animate(g.onAfter);function animate(a){$elem.animate(attr,f,g.easing,a&&function(){a.call(this,e,g)})}}).end()};h.max=function(a,b){var c=b=='x'?'Width':'Height',scroll='scroll'+c;if(!$(a).is('html,body'))return a[scroll]-$(a)[c.toLowerCase()]();var d='client'+c,html=a.ownerDocument.documentElement,body=a.ownerDocument.body;return Math.max(html[scroll],body[scroll])-Math.min(html[d],body[d])};function both(a){return typeof a=='object'?a:{top:a,left:a}}})(jQuery);
;(function(b){function g(a,e,d){var h=e.hash.slice(1),f=document.getElementById(h)||document.getElementsByName(h)[0];if(f){a&&a.preventDefault();var c=b(d.target);if(!(d.lock&&c.is(":animated")||d.onBefore&&!1===d.onBefore(a,f,c))){d.stop&&c._scrollable().stop(!0);if(d.hash){var a=f.id==h?"id":"name",g=b("<a> </a>").attr(a,h).css({position:"absolute",top:b(window).scrollTop(),left:b(window).scrollLeft()});f[a]="";b("body").prepend(g);location=e.hash;g.remove();f[a]=h}c.scrollTo(f,d).trigger("notify.serialScroll",
[f])}}}var i=location.href.replace(/#.*/,""),c=b.localScroll=function(a){b("body").localScroll(a)};c.defaults={duration:1E3,axis:"y",event:"click",stop:!0,target:window,reset:!0};c.hash=function(a){if(location.hash){a=b.extend({},c.defaults,a);a.hash=!1;if(a.reset){var e=a.duration;delete a.duration;b(a.target).scrollTo(0,a);a.duration=e}g(0,location,a)}};b.fn.localScroll=function(a){function e(){return!!this.href&&!!this.hash&&this.href.replace(this.hash,"")==i&&(!a.filter||b(this).is(a.filter))}
a=b.extend({},c.defaults,a);return a.lazy?this.bind(a.event,function(d){var c=b([d.target,d.target.parentNode]).filter(e)[0];c&&g(d,c,a)}):this.find("a,area").filter(e).bind(a.event,function(b){g(b,this,a)}).end().end()}})(jQuery);
jQuery(function($){ $.localScroll({filter:'.smoothScroll'}); });
</script>


<script type="text/javascript">
function uncheck_radio_before_click(radio) {
    if(radio.prop('checked'))
        radio.one('click', function(){ radio.prop('checked', false); } );
}
$('body').on('mouseup', 'input[type="radio"]', function(){
    var radio=$(this);
    uncheck_radio_before_click(radio);
})
$('body').on('mouseup', 'label', function(){
    var label=$(this);
    var radio;
    if(label.attr('for'))
        radio=$('#'+label.attr('for')).filter('input[type="radio"]');
    else
        radio=label.children('input[type="radio"]');
    if(radio.length)
        uncheck_radio_before_click(radio);
})
</script>

<script type="text/javascript">
var startY = $('.forside').position().top + $('.forside').outerHeight();

$(window).scroll(function(){
    checkY();
});

function checkY(){
    if( $(window).scrollTop() > startY ){
        $('.fixedDiv').slideDown(700);
    }else{
        $('.fixedDiv').slideUp(700);
    }
}
checkY();
</script>

<script type="text/javascript">
		Chart.defaults.global.defaultFontColor = "#fff";
		Chart.defaults.global.defaultFontSize = 18;
		Chart.defaults.global.defaultFontFamily = "mkmfontenmedium";
		Chart.defaults.global.animation.duration =  900;
</script>


<script type="text/javascript">
		var ctx = document.getElementById("stemmefordeling").getContext('2d');
		var myChart = new Chart(ctx, {
		  type: 'doughnut',
		  data: {
		    labels: ["1. TENOR", "2. TENOR", "1. BASS", "2. BASS"],
		    datasets: [{
		      backgroundColor: [
		        "#8B6EBC",
		        "#6847A0",
		        "#3D1B77",
		        "#290A5D",
		      ],
		      data: {{ voiceDistribution }}
		    }],
		  }
		});
</script>

<script type="text/javascript">
		var ctx = document.getElementById("trinnfordeling").getContext('2d');
		var myChart = new Chart(ctx, {
		  type: 'doughnut',
		  data: {
		    labels: ["1. KLASSE", "2. KLASSE", "3. KLASSE", "4. KLASSE", "5. KLASSE"],
		    datasets: [{
		      backgroundColor: [
		        "#8B6EBC",
		        "#6847A0",
		        "#522E90",
		        "#3D1B77",
		        "#290A5D",
		      ],
		      data: {{ gradeDistribution }}
		    }],
		  }
		});
</script>

<script type="text/javascript">
		var ctx = document.getElementById('vekst').getContext('2d');
		var myChart = new Chart(ctx, {
		  type: 'line',
		  data: {
		    labels: ['2014', '2015', '2016', '2017', '2018', '2019'],
		    datasets: [{
		      label: 'Medlemstall',
		      data: [5, 13, 17, 18, 20, 24],
		      backgroundColor: "rgba(120,60,190,0.8)"
		    }]},
		    options: {
    			legend: {
        			display: false
    			},
    			scales: {
    				xAxes: [{
        				gridLines: {
            				show: true,
            				color: "rgba(170,170,170,0.9)",
        					}
    				}],
    				yAxes: [{
        				gridLines: {
            				show: true,
            				color: "rgba(170,170,170,0.9)",
        					}
    				}]

    			},
    			tooltips: {
        			callbacks: {
           				label: function(tooltipItem) {
                  		        console.log(tooltipItem)
        						return tooltipItem.yLabel;
           	}
        }
    }
}
		});
</script>

<script type="text/javascript">
		var ctx = document.getElementById('repertoar').getContext('2d');
		var myChart = new Chart(ctx, {
		  type: 'line',
		  data: {
		    labels: ['2014', '2015', '2016', '2017', '2018', '2019'],
		    datasets: [{
		      label: 'Medlemstall',
		      data: [5, 9, 10, 16, 22, 30],
		      backgroundColor: "rgba(120,60,190,0.8)"
		    }]},
		    options: {
    			legend: {
        			display: false
    			},
    			scales: {
    				xAxes: [{
        				gridLines: {
            				show: true,
            				color: "rgba(170,170,170,0.9)",
        					}
    				}],
    				yAxes: [{
        				gridLines: {
            				show: true,
            				color: "rgba(170,170,170,0.9)",
        					}
    				}]

    			},
    			tooltips: {
        			callbacks: {
           				label: function(tooltipItem) {
                  		        console.log(tooltipItem)
        						return tooltipItem.yLabel;
           	}
        }
    }
}
		});
</script>

<!-- DETTE ER FOR POPUP-VIDEOEN NEDERST PÅ SIDEN -->
<script type="text/javascript">
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>

<!-- DETTE ER FOR AT RADIOKNAPPENE TIL MKM SINE UNDERGRUPPER LUKKER SEG NÅR MAN VELGER KLIKKER PÅ DEN IGJEN -->
<script type="text/javascript">
	$(function () {
    $(document).on('click', '.box', function () {
        $('#toggle-nav').attr('checked', false);
    });
});
</script>

<script type="text/javascript">
$(document).ready(function() {
    
    /* Every time the window is scrolled ... */
    $(window).scroll( function(){
    
        /* Check the location of each desired element */
        $('.hideme').each( function(i){
            
            var bottom_of_object = $(this).offset().top + $(this).outerHeight();
            var bottom_of_window = $(window).scrollTop() + $(window).height();
            
            /* If the object is completely visible in the window, fade it it */
            if( bottom_of_window > bottom_of_object ){
                
                $(this).animate({'opacity':'1'},2000);
                    
            }
            
        }); 
    
    });
    
});
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
<script src="js/jquery.imageorder.js"></script>

</body>
</html>
