{% load static %}
<html>
<head>
	<title>Mannskoret Klingende Mynt</title>
</head>
<body>
<h1>Oppussing pågår</h1>
<p>Hei, heisann! klingendemynt.no er for øyeblikket under oppussing. Vi er aldeles straks tilbake. Ta deg en cava så lenge.</p>
</body>
</html>
