{% load static %}
<html>
<head>
	<title>Mannskoret Klingende Mynt</title>
</head>
<body>
<h1>Endre profilbilde</h1>
<p>Bildet bør være kvadratisk for best resultat</p>
<form enctype="multipart/form-data" method="post">
	{% csrf_token %}
	{{ loggedInChoirMemberImageForm.as_p }}
	<button type="submit">Endre</button>
</form>
</body>
</html>
