{% load static %}
<html>
<head>
	<title>Mannskoret Klingende Mynt</title>
</head>
<body>
<h1>Endre personalia</h1>
<form method="post">
	{% csrf_token %}
	{{ loggedInChoirMemberUserForm.as_p }}
	{{ loggedInChoirMemberForm.as_p }}
	<button type="submit">Endre</button>
</form>
</body>
</html>
