{% load static %}
<html>
<head>
	<title>Mannskoret Klingende Mynt</title>
</head>
<body>
<h1>Hei heisann, {{ loggedInChoirMember.user.first_name }}!</h1>
{% if loggedInChoirMember.image %}
	<img src="{{ loggedInChoirMember.image.url }}" width="200" height="200">
{% else %}
	<p>Du har ikke profilbilde! Last opp ett i dag!</p>
{% endif %}
<h2>Personalia</h2>
<p>Følgende personalia er registrert på deg for øyeblikket. Noen av disse feltene, samt profilbilde, kan endres ved å følge linkene under. Brukernavnet ditt gir deg en personlig klingendemynt-adresse, {{ loggedInChoirMember.user.username }}@klingendemynt.no (i tillegg til innlogging på denne nettsiden). E-post sendt hit videresendes automatisk til den private e-postadressen din oppført under.</p>
<ul>
	<li>Fornavn: {{ loggedInChoirMember.user.first_name }}</li>
	<li>Etternavn: {{ loggedInChoirMember.user.last_name }}</li>
	<li>Brukernavn: {{ loggedInChoirMember.user.username }}</li>
	<li>E-post: {{ loggedInChoirMember.user.email }}</li>
	<li>LinkedIn-URL: {{ loggedInChoirMember.linkedInURL }}</li>
	<li>Trinn: {{ loggedInChoirMember.get_grade_display }}</li>
	<li>Tittel: {{ loggedInChoirMember.get_title_display }}</li>
	<li>Status: {{ loggedInChoirMember.get_status_display }}</li>
	<li>Stemmegruppe: {{ loggedInChoirMember.get_voice_display }}</li>
	<li>Quote: {{ loggedInChoirMember.quote }}</li>
</ul>
<h2>Interne verv</h2>
<p>Du har følgende interne verv. Verv lar seg ikke redigere for øyeblikket.</p>
<ul>
{% for loggedInChoirMemberRole in loggedInChoirMemberRoles %}
	<li>{{ loggedInChoirMemberRole.getDisplayNameIfDefinedIncludingGroup }}</li>
{% endfor %}
</ul>
<h2>Linker</h2>
<ul>
	<li><a href="{% url 'member_edit' %}">Endre personalia</a></li>
	<li><a href="{% url 'member_edit_image' %}">Endre profilbilde</a></li>
	<li><a href="{% url 'password_change' %}">Endre passord</a></li>
	{% if loggedInChoirMember.user.is_staff %}
		<li><a href="{% url 'email_forwards' %}">Generer e-post forwards</a></li>
		<li><a href="{% url 'admin:index' %}">Django admin</a></li>
	{% endif %}
	<li><a href="{% url 'logout' %}">Logout</a></li>
	<li><a href="{% url 'index' %}">Til forsiden</a></li>
</ul>
</body>
</html>
