
/*========================================= GENERELLE TING =================================*/
body{
	padding: 0px !important;
	margin: 0px !important;
	font-family: 'SansGuiltMBMedium';
	background-color: #555;
}
a, a:visited {
	text-decoration: none;
	color:white;
}
hr {
	width: 90%;
	max-width: 1400px;
}

/*========================================= FONTER OG JUSTERINGER KNYTTET TIL Å =================================*/
.hideme {
    opacity:0;
}
mark {
	font-family: 'mkmfontenmedium';
	background-color: rgba(0,0,0,0) !important;
	color: inherit !important;
	font-weight: 500;
}
p {
	font-size: 24px;
}
li {
	font-size: 24px;
}
.hvittittel {
	text-transform: uppercase;
	color: #FFF;
	text-align: center;
	font-weight: normal;
	font-size:30px;
}
.stortittel {
	padding-top: 4vw;
	text-transform: uppercase;
	color: #FFF;
	text-align: center;
	font-weight: normal;
	font-size:40px;
}
.signatur {
	color: #FFF;
	font-size: 28px;
	text-align: right;
	margin-right: 20% !important;
}
.litentekst {
	font-size: 22px;
	margin-right: 10% !important;
}
.stortekst {
	color:#FFF;
	font-size: 34px;
	margin:auto;
	padding: 0px 5%;
}

.sentrert {
	text-align: center;
}
h2 {
	color:white;
	text-transform: uppercase;
}
h3 {
	color:white;
	text-transform: uppercase;
}

/*========================================= SITAT SOM IKKE ER I BRUK =================================*/
.quote img {
	height: 8vw;
	margin-right: 30px;
}
.quote {
	height: 8vw;
	max-width: 1400px;
	margin: auto;
	display: flex;
	align-items: center;
	font-size: 1.5vw;
	text-transform: uppercase;
	color:#FFF;
}
.quotecontainer {
	width: 100%;
	background-color: #290A5D;
}


/*========================================= OVERLAYMENY =================================*/
.overlaymeny {
	z-index: 1000;
	position: fixed;
	display: flex;
	flex-direction: row;
	width: 100%;
	text-transform: uppercase;
	color: white;
	justify-content: space-between;
}
.overlaymeny .overlayknapp {
	padding: 0.5vw 0 1.2vw 0;
}
.overlayknapper {
	z-index: 1000;
	width:30%;
	padding-top: 0.2vw;
	margin-right: 5%;
	display:flex;
	justify-content: space-around;
}
.overlayknapper div {
	z-index: 1000;
}
.overlayknapp {
	z-index: 1000;
	text-align: center;
	align-items: center;
	margin:0px 10px;
	padding: 0.5vw 0 1.2vw 0;
	font-size: 1.2vw;
	border-bottom: 3px solid rgba(255,255,255,0);
    -webkit-transition: border 1s ease;
    -moz-transition: border 1s ease; 
    -o-transition: border 1s ease;
	transition: border 1s ease;
}
.overlayknapp:hover {
    -webkit-transition: border 1s ease;
    -moz-transition: border 1s ease; 
    -o-transition: border 1s ease;
	transition: border 1s ease;
	border-bottom: 3px solid rgba(255,255,255,1);
}
#menu {
	display: none;
}
.logo {
	z-index: 100011;
	width: 8vw;
	height: 3vw;
	margin-left: 15px;
	margin-top: 4px;
}
.logo img {
	z-index: 10000001;
	width: 100%;
	height: 100%;
}
.fixedDiv {
	display: none;
	position: fixed;
	width:100%;
	background-color: #222;
	height: 3.5vw;
	padding-bottom: 1px;
	opacity: 0.95;
	z-index: 100
}


/*========================================= FORSIDE =================================*/
.forside {
	position: absolute;
	z-index: 100;
	top: 0;
	width: 100%;
	height: 52vw;
}
.forsidebilde {
	width:100%;
	height: 100%;
}
.forsidebilde img {
	width: 100%;
	height: 100%;
}
.lilladiagonal {
	position: absolute;
	width: 100%;
	height: 100%;
}
.lilladiagonal .forsidebildedesktop {
	position: absolute;
	width: 100%;
	height: 100%;
	animation: lillainn 2s;
	animation-timing-function: ease-in-out;
	opacity: 0.7;
}
.forsidetekst {
	position: absolute;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: #FFF;
	font-size: 4vw;
	top: 55%;
	left: 19%;
	animation: fadevenstre 2s;
	animation-timing-function: ease-in-out;
}
.forsidetekst2 {
	position: absolute;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: #FFF;
	font-size: 4vw;
	top: 63%;
	left: 19%;
	animation: fadevenstre 2.8s;
	animation-timing-function: ease-in-out;
}
.forsidetekst3 {
	position: absolute;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: #FFF;
	font-size: 4vw;
	top: 71%;
	left: 19%;
	animation: fadevenstre 3.6s;
	animation-timing-function: ease-in-out;
}
.filler {
	width: 100%;
	height: 52vw;
}
.forsidebildemobil {
	display: none !important;
}

/*========================================= ÅPNINGSANIMASJONER PÅ FORSIDEN =================================*/
@keyframes lillainn {
	from {
		opacity: 0;
	}
	to {
		opacity: 0.7;
	}
}
@keyframes fadevenstre {
	0% {
		opacity: 0;
/*		left: 12%; */
	}
	50% {
		opacity: 0;
/*		left: 19%; */
	}
	100% {
		opacity: 1;
/*		left: 19%; */
	}

}

/*========================================= MEDLEMMER =================================*/
.medlemsseksjon {
	margin-top: 30px;
	background-color: #290A5D;
	width: 100%;
	justify-content: center;
}
.medlemsseksjon div {
	margin-top: 0px !important;
	margin-bottom: 0px;
}

.medlemsgruppeseksjon {
	margin-top: 30px;
	background-color: #290A5D;
	width: 100%;
	justify-content: space-around;
	flex-direction: row;
}
.medlemsgruppeseksjon div {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

.medlemsgruppeseksjon .medlem {
	margin: 0px 1%;
	display: flex;
	flex-direction: column !important;
	width: 300px;
	min-width: 300px !important;
	line-height: 140%;
	padding-bottom: 10px;
}
.medlemsgruppeseksjon .medlemsbilde {
	width: 250px;
	height: 250px;
}
.medlemsgruppeseksjon .medlemsboks h2 {
	color:#000;
	text-align: center;
}
.medlemsgruppeseksjon .medlemsinnsideboks {
	justify-content: center;
}
.medlemsgruppeseksjon .medlemsinnsideboks h2 {
	color:#000;
	text-align: start !important;
}
.medlemsgruppeseksjon .tekstboks {
	width: 300px;
	min-width: 300px;
}

.medlemmer {
	color:white !important;
	margin: 2% 0%;
	width: 100%;
	display: flex;
	flex-direction: column;
}
.allemedlemmer {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;
	text-transform: uppercase;
	color:#FFF;
	background-color: #290A5D;
}
.ansattelabel p {
	font-size: 30px;
	padding-top: 5px;
	margin: 0px auto;
	width: 210px;
	border-bottom: 5px solid rgba(255,255,255,0);
	-webkit-transition: border 0.6s ease;
    -moz-transition: border 0.6s ease; 
    -o-transition: border 0.6s ease;
	transition: border 0.6s ease;
}
.ansattelabel:hover p {
	border-bottom: 5px solid rgba(255,255,255,1);
	-webkit-transition: border 0.6s ease;
    -moz-transition: border 0.6s ease; 
    -o-transition: border 0.6s ease;
	transition: border 0.6s ease;
}
.ansattelabel {
	margin: 0px !important;
	width: 100%;
	justify-content: center;
	text-align: center;
	padding: 0px 30px;
	background-color: #290A5D;
    -webkit-transition: background 0.6s ease;
    -moz-transition: background 0.6s ease; 
    -o-transition: background 0.6s ease;
	transition: background 0.6s ease;
}
.ansattelabel:hover {
	-webkit-transition: background 0.6s ease;
    -moz-transition: background 0.6s ease; 
    -o-transition: background 0.6s ease;
	transition: background 0.6s ease;
}
.medlem {
	margin: 1px 1% 5px 1% !important;
	display: flex;
	flex-direction: row;
	width: 48%;
	min-width: 400px;
	line-height: 140%;
}
.medlemsbilde {
	width: 250px !important;
	height: 250px !important;
	min-width: 250px;
	min-height: 250px;
	margin-right: 10px;
	border-radius: 1000px;
	background-color: rgba(85,46,144, 0);
}
.medlemsbilde:hover {
	background-color: rgba(85,46,144, 1);
}
.medlemsbilde img:hover {
	filter: opacity(0.8);
    -webkit-transition: filter 0.4s ease;
    -moz-transition: filter 0.4s ease; 
    -o-transition: filter 0.4s ease;
	transition: filter 0.4s ease;
}
.medlemsbilde img {
	filter: none;
    -webkit-transition: filter 0.4s ease;
    -moz-transition: filter 0.4s ease; 
    -o-transition: filter 0.4s ease;
	transition: filter 0.4s ease;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	border-radius: 10000px;
}
.medlem h2, .medlem h3 {
	margin-bottom: -18px;
}
.medlemstyper {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;
	text-transform: uppercase;
	color:#FFF;
}
.medlemstyper label {
	font-size: 22px;
}
.medlemsgrupper {
	width: 100%;
	background-color: #333;
}
.medlemsboks {
	padding-top: 5px;
	justify-content: center;
	width: 100%;
	display: none;
	background-color: #CCC;
	border-bottom: 8px solid #444;
}
.medlemsinnsideboks {
	color:#000000 !important;
	width: 100%;
	max-width: 1400px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.medlemsinnsideboks h2, .medlemsinnsideboks h3 {
	color:#000000 !important;
}
.medlemsinnsideboks p {
	text-transform: none !important;
}
.medlemstyper label {
	width: 20%;
	max-width: 280px;
	padding: 13px 0px 8px 0px;
	justify-content: center;
	text-align: center;
	border-bottom: 5px solid rgba(255,255,255,0);
    -webkit-transition: border 1s ease;
    -moz-transition: border 1s ease; 
    -o-transition: border 1s ease;
	transition: border 1s ease;
}
.medlemstyper label:hover {
	border-bottom: 5px solid rgba(255,255,255,1);
	-webkit-transition: border 1s ease;
    -moz-transition: border 1s ease; 
    -o-transition: border 1s ease;
	transition: border 1s ease;
}
.medlemlabel + input {
	display: none;
}
.apartnere + input:checked + label + input + label + input + label + input + label + input + div,
.amusicalmanagement + input:checked + label + input + label + input + label + input + div + div,
.adeals + input:checked + label + input + label + input + div + div + div,
.aetc + input:checked + label + input + div + div + div + div,
.ashowering + input:checked + div + div + div + div + div {
	display:flex;
	flex-wrap: wrap;
	padding: 2vw;
}

@media (max-width: 900px) {
	.medlemsbilde {
		width: 200px !important;
		height: 200px !important;
		min-width: 200px;
		min-height: 200px;
	}
	.medlem {
		min-width: 300px;
	}
	.medlem p {
		font-size: 18px;
		line-height: 130%;
	}
}

/*========================================= ALUMNIBOKS =================================*/

.alumniboks  {
	margin-top: -300px;
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;
	text-transform: uppercase;
	background-color: #FFF !important;
	color:#FFF;
}
.alumnilabel {
	margin: 0px !important;
	width: 100%;
	justify-content: center;
	text-align: center;
	padding: 0px 30px;
    -webkit-transition: background 0.5s ease;
    -moz-transition: background 0.5s ease; 
    -o-transition: background 0.5s ease;
	transition: background 0.5s ease;
}
.alumnilabel:hover {
	-webkit-transition: background 0.5s ease;
    -moz-transition: background 0.5s ease; 
    -o-transition: background 0.5s ease;
	transition: background 0.5s ease;
}
.alumnimedlemsseksjon {
	background-color: #333;
	width: 100%;
	justify-content: center;
}
.alumnimedlemsseksjon div {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
.alumnilabel p {
	padding-bottom: 7px;
	font-size: 30px;
	padding-top: 12px;
	margin: 0px auto;
	width: 140px;
	border-bottom: 5px solid rgba(255,255,255,0);
	-webkit-transition: border 0.6s ease;
    -moz-transition: border 0.6s ease; 
    -o-transition: border 0.6s ease;
	transition: border 0.6s ease;
}
.alumnilabel:hover p {
	border-bottom: 5px solid rgba(255,255,255,1);
	-webkit-transition: border 0.6s ease;
    -moz-transition: border 0.6s ease; 
    -o-transition: border 0.6s ease;
	transition: border 0.6s ease;
}
/*========================================= GRAFER =================================*/
.container {
	font-family: 'mkmfontenmedium' !important;
	line-height: 260% !important;
	width: 100%;
	background-color: #555;
}
.grafer {
	width: 100%;
	max-width: 1400px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin:auto;
}
.linjer, .doughnuter {
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.doughnutgraf {
	opacity: 20%;
	margin: 15px auto;
	height: 33vw;
	width: 30vw;
	min-width: 400px;
	min-height: 440px;
}
.linjegraf {
	opacity: 20%;
	margin: 15px auto;
	height: 20vw;
	width: 30vw;
	min-width: 400px;
	min-height: 266px;
}


/*========================================= VIRKSOMHETSTREET =================================*/
.tree {
	position: relative;
	font-size: 24px;
	text-transform: uppercase;
	z-index:1;
}
.tree ul {
	position: relative;
	padding: 1em 0;
	white-space: nowrap;
	margin: 0 auto;
	text-align: center;
}
.tree ul::after {
	content: '';
	display: table;
	clear: both;
}

.tree li {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	list-style-type: none;
	position: relative;
	padding: 1em .5em 0 .5em;
}
.tree li::before, .tree li::after {
	content: '';
	position: absolute;
	top: 0;
	right: 50%;
	border-top: 1px solid #ccc;
	width: 50%;
	height: 1em;
}
.tree li::after {
	right: auto;
	left: 50%;
	border-left: 1px solid #ccc;
}
.tree li:only-child::after, .tree li:only-child::before {
	display: none;
}
.tree li:only-child {
	padding-top: 0;
}
.tree li:first-child::before, .tree li:last-child::after {
	border: 0 none;
}
.tree li:last-child::before {
	border-right: 1px solid #ccc;
	border-radius: 0 5px 0 0;
}
.tree li:first-child::after {
	border-radius: 5px 0 0 0;
}
.tree ul ul::before {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	border-left: 1px solid #ccc;
	width: 0;
	height: 1em;
}
.tree li div {
	border: 1px solid #ccc;
	padding: .65vw 1.75vw;
	text-decoration: none;
	display: inline-block;
	border-radius: 5px;
	color: #FFF;
	position: relative;
	top: 1px;
	font-size: 24px;
}
.tree li div:hover,
.tree li div:hover + ul li div {
	background: #552E90;
	color: #fff;
	border: 1px solid #290A5D;
    -webkit-transition: background 0.2s ease;
    -moz-transition: background 0.2s ease; 
    -o-transition: background 0.2s ease;
	transition: background 0.2s ease;
}
.tree li div:hover + ul li::after,
.tree li div:hover + ul li::before,
.tree li div:hover + ul::before,
.tree li div:hover + ul ul::before {
	border-color: #290A5D;
    -webkit-transition: background 0.2s ease;
    -moz-transition: background 0.2s ease; 
    -o-transition: background 0.2s ease;
	transition: background 0.2s ease;
}
@media (max-width: 1100px) {
	.tree li div {
		font-size: 2vw !important;
	}
}

/*========================================= FIXED BILDEGREIE =================================*/
.hvitboks {
	height: 200px;
	background-color: #FFF;
}
.hvitboks h1 {
	width: 100%;
	text-align: center;
	padding-top:3%;
	margin: 0px;
	text-transform: uppercase;
	color: #290A5D;
	font-size: 300%;
}
.hvitboks hr {
	color: #290A5D;
	border: 1px solid #290A5D;
}
.fixedbildegreie {
	background: none;
	font-family: 'mkmfontenmedium' !important;
	line-height: 260%;
}
.imgleft {
	position:fixed;
	z-index: -1;
	top: 0px;
	right: 50%;
	margin: 0px;
	padding: 0px;
	height: 100vh;
	background: #FFF;
}
.imgright {
	position:fixed;
	z-index: -1;
	top:0px;
	margin: 0px;
	padding: 0px;
	left: 50%;
	height: 100vh;
	background: #555;
}
.rightbox {
	color: #290A5D !important;
	width: 50%;
	height: 45vw;
	margin-left: auto;
	background-color: #FFF;
	min-height: 700px;
}
.rightbox .tjenestetekst p, .rightbox .tjenestetekst h1 {
	color: #290A5D !important;
}
.leftbox {
	width: 50%;
	height: 45vw;
	left: 50%;
	background-color: #555;
	min-height: 700px;
}
.tjenestetekst {
	padding: 10%;
	height: 12vh;
}
.leftbox .tjenestetekst {
	height: 10vh;
}

@media (max-width: 1400px) {
	.fixedbildegreie {
		line-height: 150% !important;
	}
	.fixedbildegreie .stortittel {
		font-size:30px !important;
	}
	.fixedbildegreie .stortekst {
		font-size:26px !important;
	}
	.leftbox .tjenestetekst {
		height: 12vh;
	}
}
@media (max-width: 1000px) {
	.leftbox .tjenestetekst {
		height: 20vh;
	}
}

/*========================================= TJENESTER =================================*/
.konsulentbilde {
	padding: 5%;
	width: 90%;
}
.booking, .booking h1 {
	font-family: 'mkmfontenmedium' !important;
	margin-top: 0px;
	background-color: #FFF;
	color:#290A5D !important;
}
.booking hr {
	color: #290A5D !important;
	border: 1px solid #290A5D;
}
.bookinginnhold p {
	color:#290A5D !important;
}
.bookinginnhold {
	margin: auto;
	width: 100%;
	max-width: 1400px;
	display: flex;
	flex-direction: column;
}
.bookinginformasjon div div:hover {
	background-color: #290A5D;
	-webkit-transition: background 0.4s ease;
    -moz-transition: background 0.4s ease; 
    -o-transition: background 0.4s ease;
	transition: background 0.4s ease;
}
.bookinginnhold li a {
	color:#290A5D;
}
.bookinginformasjon {
	margin: auto;
	margin-top: 30px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	color: #290A5D;
	width: 100%;
	max-width: 1000px;
	justify-content: space-around;
	font-size: 24px;
	text-align: center;
}
.bookinginformasjon div {
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 300px;
	padding:0px;
}
.bookinginformasjon div div {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	background-color: #522E90;
    -webkit-transition: background 0.4s ease;
    -moz-transition: background 0.4s ease; 
    -o-transition: background 0.4s ease;
	transition: background 0.4s ease;
}
.bildelink1 {
	width: 100px;
	height: 70px;
	margin: 65px 50px;
}
.bildelink2 {
	width: 140px;
	height: 100px;
	margin: 50px 30px;
}
.bildelink3 {
	width: 66px;
	height: 140px;
	margin: 60px 68px 0px 68px;
}
/*========================================= BYGG DIN KARRIERE I MKM =================================*/
/*------- VISE OG SKJULE -------*/
.collapse {
	margin-top: 10px;
	margin-bottom: -1px;
	cursor: pointer;
	display: block;
	background: #290A5D;
	text-align: center;
	line-height: 48px;
	font-size: 24px;
	color:#FFF;
    -webkit-transition: background 0.4s ease;
    -moz-transition: background 0.4s ease; 
    -o-transition: background 0.4s ease;
	transition: background 0.4s ease;
}
.collapse:hover {
	background:#42147D;
    -webkit-transition: background 0.4s ease;
    -moz-transition: background 0.4s ease; 
    -o-transition: background 0.4s ease;
	transition: background 0.4s ease;
}
.collapse .bygg {
	padding-top: 5px;
	margin: 0px auto;
	width: 300px;
	border-bottom: 5px solid rgba(255,255,255,0);
	-webkit-transition: border 0.6s ease;
    -moz-transition: border 0.6s ease; 
    -o-transition: border 0.6s ease;
	transition: border 0.6s ease;
}
.collapse:hover .bygg {
	border-bottom: 5px solid rgba(255,255,255,1);
	-webkit-transition: border 0.6s ease;
    -moz-transition: border 0.6s ease; 
    -o-transition: border 0.6s ease;
	transition: border 0.6s ease;
}
.collapse + input {
	display: none;
}
.collapse + input + div {
	display: none;
}
.collapse + input:checked + div {
	display: flex !important;
}

/*------- INNHOLD I KARRIEREBOKSEN -------*/
.karriere {
	padding: 20px 0px;
	background-color: #FFF;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	color: #290A5D;
	border-bottom: 12px solid #290A5D;
}
.karriere h2 {
	font-size: 32px;
	color: #290A5D !important;
}
.karriere img {
	width: 500px !important;
	height: 500px !important;
}
.bildetekst {
	max-width: 1250px;
	margin: auto;
	display: flex;
	flex-direction: row;
	min-height: 250px;
	justify-content: left;
}
.bildetekst p {
	padding:0px;
	margin:0px;
}
.bildetekst img {
	width:400px;
	height: 400px;
	z-index: 10;
}
.hoyresentrert {
	justify-content: flex-end;
}

/*----------------------- SITATER -------------------*/
.tekstboks1 {
	margin:auto;
	padding: 0px 2% 0px 2%;
}
.tekstboks1 h2 {
	margin: auto;
	text-align:center;
	text-transform: uppercase;
}
.sitatboks1 {
	font-family: 'mkmfontenmedium';
	background: linear-gradient(141deg, #6847A0 0%, #522E90 51%, #3D1B77 75%);
	padding: 2% 0px;
}
.sitatboks2 {
	font-family: 'mkmfontenmedium';
	background: linear-gradient(141deg, #444 0%, #555 51%, #555555 75%);
	padding: 2% 0px;
}
.sitatboks3 {
	font-family: 'mkmfontenmedium';
	background: linear-gradient(141deg, #6847A0 0%, #522E90 51%, #3D1B77 75%);
	padding: 2% 0px;
}
.tekstboksv {
	margin: auto 0 auto 0;
	padding: 0px 2% 0px 2%;
}
.tekstboksv h2 {
	padding: 0px;
	margin: 0px;
}
.tekstboksh {
	margin: auto 0 auto 0;
	padding: 0px 2% 0px 2%;
}
.tekstboksh h2 {
	padding: 0px;
	margin: 0px;
}
.sitatboks1 img, .sitatboks2 img, .sitatboks3 img {
	border-radius: 200px;
}


/*========================================= VIDEO =================================*/

#myBtn {
	border: none;
	margin: auto;
	width: 40vw;
	height: 23vw;
	min-width: 480px;
	min-height: 270px;
	background: url("../images/thumbnailbakgrunn.jpg") center no-repeat;
	background-size: cover;
	cursor:pointer;
    margin-bottom: 60px;
}
#myBtn img {
	width: 30%;
	height: 30%;
	padding: 0px;
    -webkit-transition: filter .4s ease;
    -moz-transition: filter .4s ease;
    -o-transition: filter .4s ease;
	transition: filter .4s ease;
	filter: none;
}
#myBtn img:hover {
	filter: brightness(1.7);
    -webkit-transition: filter .4s ease;
    -moz-transition: filter .4s ease;
    -o-transition: filter .4s ease;
	transition: filter .4s ease;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1000000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.7);
}

.modal-content {
    margin: auto;
    padding: 0px;
    width: 70vw;
    height: 39.375vw;
    margin-top:15vh;
	max-width: 1000px;
	max-height: 562.5px;
}
.modal-content iframe {
	width: 70vw;
	height: 39.375vw;
	margin: auto;
	max-width: 1000px;
	max-height: 562.5px;
}
.close {
	display: none;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/*========================================= KONTAKTLINJEN I BUNNEN =================================*/
.kontaktoss {
	padding:10px 0px 10px 0px;
	margin:0px;
	color:white;
	background-color:#222;
	display: flex;
	flex-direction: column;
	justify-content:center;
	font-family: 'mkmfontenmedium' !important;
}
.kontaktoss div{
	display: flex;
	flex-direction: row;
	margin:auto;
	flex-wrap: wrap;
	padding:0px 5px 0px 5px;
}
.kontaktoss div div {
	text-align: center;
	justify-content: center;
	width:250px;
	margin-top: -11px;
}
.samarbeidspartnere {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.samarbeidspartnere div {
	width:100%;
}
.kontaktoss img {
	height:70px;
	width:70px;
}
.linkmedia {
	padding-top: 4px;
	padding-bottom: 0px;
	text-align: center;
	width:100%;
	background-color: #333;
	margin-top: 0px;
}
.linkmedia img {
	flex:1;
	padding:5px;
	width: 60px;
	height: 60px;
	margin: 0 auto;
}
.rettigheter {
	font-size: 20px;
}

.centered {
	text-align: center;
}