@font-face {
    font-family: 'mkmfontenmedium';
    src: url('../font/mkmfonten.woff2') format('woff2'),
         url('../font/mkmfonten.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
