
/*========================================= GENERELLE TING =================================*/
body{
	padding: 0px !important;
	margin: 0px !important;
	font-family: 'SansGuiltMBMedium';
	background-color: #555;
}
a, a:visited {
	text-decoration: none;
	color:white;
}
hr {
	width: 90%;
	max-width: 1400px;
}

/*========================================= FONTER OG JUSTERINGER KNYTTET TIL Å =================================*/
.hideme {
    opacity:0;
}
mark {
	font-family: 'mkmfontenmedium';
	background-color: rgba(0,0,0,0) !important;
	color: inherit !important;
	font-weight: 500;
}
p {
	font-size: 18px;
}
li {
	font-size: 18px;
}
.hvittittel {
	text-transform: uppercase;
	color: #FFF;
	text-align: center;
	font-weight: normal;
	font-size:18px;
}
.sitathvittittel {
	text-transform: uppercase;
	color: #FFF;
	text-align: center;
	font-weight: normal;
	font-size:16px !important;
}
.stortittel {
	padding-top: 8vw;
	text-transform: uppercase;
	color: #FFF;
	text-align: center;
	font-weight: normal;
	font-size:30px;
}
.signatur {
	color: #FFF;
	font-size: 18px;
	text-align: right;
	margin-right: 15px !important;
}
.litentekst {
	font-size: 14px;
	margin-right: 10% !important;
}
.stortekst {
	color:#FFF;
	font-size: 22px;
	margin:auto;
	padding: 0px 5%;
}
.sentrert {
	text-align: center;
}
h2 {
	color:white;
	text-transform: uppercase;
}
h3 {
	color:white;
	text-transform: uppercase;
}

/*--------------- JUSTERINGER KNYTTET TIL BITTESMÅ SKJERMER ------------*/
@media (max-width: 350px) {
	.sitathvittittel {
	text-transform: uppercase;
	color: #FFF;
	text-align: center;
	font-weight: normal;
	font-size:14px !important;
	}
	.bildetekst {
		min-height: 150px !important;
	}
	.bildetekst img {
		width: 150px !important;
		height: 150px !important;
	}
	.signatur {
		font-size: 12px !important;
	}
	.stortekst {
		font-size: 20px !important;
	}
}
.sentrert {
	text-align: center;
}


/*========================================= SITAT SOM IKKE ER I BRUK =================================*/
.quote img {
	height: 8vw;
	margin-right: 30px;
}
.quote {
	height: 8vw;
	max-width: 1400px;
	margin: auto;
	display: flex;
	align-items: center;
	font-size: 1.5vw;
	text-transform: uppercase;
	color:#FFF;
}
.quotecontainer {
	width: 100%;
	background-color: #290A5D;
}


/*========================================= OVERLAYMENY =================================*/
.overlaymeny {
	z-index: 1000;
	position: fixed;
	display: flex;
	flex-direction: row;
	width: 100%;
	text-transform: uppercase;
	color: white;
	justify-content: space-between;
}
.overlaymeny .overlayknapp {
	padding: 0.5vw 0 1.2vw 0;
}
.overlayknapper {
	display: none !important;
	z-index: 1000;
	width:30%;
	padding-top: 0.2vw;
	margin-right: 5%;
	display:flex;
	justify-content: space-around;
}
.overlayknapper div {
	z-index: 1000;
}
.overlayknapp {
	z-index: 1000;
	text-align: center;
	align-items: center;
	margin:0px 10px;
	padding: 0.5vw 0 1.2vw 0;
	font-size: 1.2vw;
	border-bottom: 3px solid rgba(255,255,255,0);
    -webkit-transition: border 1s ease;
    -moz-transition: border 1s ease; 
    -o-transition: border 1s ease;
	transition: border 1s ease;
}
.overlayknapp:hover {
    -webkit-transition: border 1s ease;
    -moz-transition: border 1s ease; 
    -o-transition: border 1s ease;
	transition: border 1s ease;
	border-bottom: 3px solid rgba(255,255,255,1);
}

.logo {
	z-index: 100011;
	width: 20vw;
	height: 7.5vw;
	margin-left: 15px;
	margin-top: 4px;
}
.logo img {
	z-index: 10000001;
	width: 100%;
	height: 100%;
}
.fixedDiv {
	display: none;
	position: fixed;
	width:100%;
	background-color: #222;
	height: 9vw;
	padding-bottom: 1px;
	opacity: 0.95;
	z-index: 100
}
.meny img {
	height: 7.5vw;
	width: 7.5vw;
	padding: 4px 10px 0px 0px;
}

/*========================================= FORSIDE =================================*/
.forside {
	position: absolute;
	z-index: 100;
	top: 0;
	width: 100%;
	height: 160vw;
}
.forsidebilde {
	width:100%;
	height: 100%;
}
.forsidebilde img {
	width: 100%;
	height: 100%;
}
.lilladiagonal {
	position: absolute;
	width: 100%;
	height: 100%;
}
.lilladiagonal img {
	position: absolute;
	width: 100%;
	height: 100%;
	animation: lillainn 2s;
	animation-timing-function: ease-in-out;
	opacity: 0.7;
}
.forsidetekst {
	position: absolute;
	text-transform: uppercase;
	color: #FFF;
	font-size: 8vw;
	top: 62%;
	left: 19%;
	animation: fadevenstre 2s;
	animation-timing-function: ease-in-out;
}
.forsidetekst2 {
	position: absolute;
	text-transform: uppercase;
	color: #FFF;
	font-size: 8vw;
	top: 68%;
	left: 19%;
	animation: fadevenstre 2.8s;
	animation-timing-function: ease-in-out;
}
.forsidetekst3 {
	position: absolute;
	text-transform: uppercase;
	color: #FFF;
	font-size: 8vw;
	top: 74%;
	left: 19%;
	animation: fadevenstre 3.6s;
	animation-timing-function: ease-in-out;
}
.filler {
	width: 100%;
	height: 160vw;
}

.forsidebildedesktop {
	display: none;
}

@media (orientation:landscape) {
	.forsidebildedesktop {
	display: block !important;
	}
	.forsidebildemobil {
	display: none !important;
	}
	.forside {
	width: 100%;
	height: 52vw !important;
	}
	.forsidetekst {
	font-size: 4vw;
	top: 55%;
	left: 19%;
	}
	.forsidetekst2 {
	font-size: 4vw;
	top: 63%;
	left: 19%;
	}
	.forsidetekst3 {
	font-size: 4vw;
	top: 71%;
	left: 19%;
	}
	.filler {
		height: 52vw !important;
	}
}

/*========================================= ÅPNINGSANIMASJONER PÅ FORSIDEN =================================*/
@keyframes lillainn {
	from {
		opacity: 0;
	}
	to {
		opacity: 0.7;
	}
}
@keyframes fadevenstre {
	0% {
		opacity: 0;
/*		left: 12%; */
	}
	50% {
		opacity: 0;
/*		left: 19%; */
	}
	100% {
		opacity: 1;
/*		left: 19%; */
	}

}

/*========================================= MEDLEMMER =================================*/

.medlemsgruppeseksjon {
	margin-top: 30px;
	background-color: #290A5D;
	width: 100%;
	justify-content: space-around;
	flex-direction: row;
}
.medlemsgruppeseksjon div {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

.medlemsgruppeseksjon .medlem {
	margin: 0px 1%;
	display: flex;
	flex-direction: column !important;
	width: 160px;
	min-width: 160px !important;
	line-height: 140%;
	padding-bottom: 10px;
}
.medlemsgruppeseksjon .medlemsbilde {
	width: 100px;
	height: 100px;
}
.medlemsgruppeseksjon .medlemsboks h2 {
	color:#000;
	font-size: 15px;
	line-height: 140%;
	text-align: center;
}
.medlemsgruppeseksjon .medlemsinnsideboks {
	justify-content: center;
}
.medlemsgruppeseksjon .medlemsinnsideboks h2 {
	font-size: 20px;
	line-height: 140%;
}
.medlemsgruppeseksjon .medlemsinnsideboks h2 {
	color:#000;
	text-align: start !important;
}
.medlemsgruppeseksjon .tekstboks {
	width: 170px;
	min-width: 170px;
}



.medlemsseksjon {
	margin-top: 30px;
	background-color: #290A5D;
	width: 100%;
	justify-content: center;
}
.medlemsseksjon div {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
.medlemmer {
	color:white !important;
	margin: 2% 0%;
	width: 100%;
	display: flex;
	flex-direction: row;
}
.ansattelabel p {
	font-size: 24px;
	padding-top: 5px;
	margin: 0px auto;
	width: 156px;
	border-bottom: 5px solid rgba(255,255,255,0);
	-webkit-transition: border 0.6s ease;
    -moz-transition: border 0.6s ease; 
    -o-transition: border 0.6s ease;
	transition: border 0.6s ease;
}
.ansattelabel:hover p {
	border-bottom: 5px solid rgba(255,255,255,1);
	-webkit-transition: border 0.6s ease;
    -moz-transition: border 0.6s ease; 
    -o-transition: border 0.6s ease;
	transition: border 0.6s ease;
}
.allemedlemmer {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;
	text-transform: uppercase;
	color:#FFF;
	background-color: #290A5D;
}
.ansattelabel {
	margin: 0px !important;
	width: 100%;
	justify-content: center;
	text-align: center;
	padding: 0px 30px;
	background-color: #290A5D;
    -webkit-transition: background 0.6s ease;
    -moz-transition: background 0.6s ease; 
    -o-transition: background 0.6s ease;
	transition: background 0.6s ease;
}
.ansattelabel:hover {
	-webkit-transition: background 0.6s ease;
    -moz-transition: background 0.6s ease; 
    -o-transition: background 0.6s ease;
	transition: background 0.6s ease;
}
.medlem {
	margin: 0px 1%;
	display: flex;
	flex-direction: row;
	line-height: 140%;
	width: 98%;
}
.medlemsbilde {
	min-width: 150px;
	min-height: 150px;
	width: 15vw;
	height: 8.75vw;
	margin-right: 10px;
	border-radius: 1000px;
	background-color: rgba(85,46,144, 0);
}
.medlemsbilde:hover {
	background-color: rgba(85,46,144, 1);
}
.medlemsbilde img:hover {
	filter: opacity(0.8);
    -webkit-transition: filter 0.4s ease;
    -moz-transition: filter 0.4s ease; 
    -o-transition: filter 0.4s ease;
	transition: filter 0.4s ease;
}
.medlemsbilde img {
	filter: none;
    -webkit-transition: filter 0.4s ease;
    -moz-transition: filter 0.4s ease; 
    -o-transition: filter 0.4s ease;
	transition: filter 0.4s ease;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	border-radius: 10000px;
}
.medlem h2, .medlem h3 {
	margin-top: -2px;
	margin-bottom: 0px;
}
.medlem h2 {
	font-size: 20px;
}
.medlem h3 {
	font-size: 17px;
}
.medlem p {
	margin-top:0px;
	font-size: 16px;
}
.medlemstyper {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;
	text-transform: uppercase;
	color:#FFF;
}
.medlemstyper label {
	font-size: 22px;
	text-align: justify;
	width: 100vw !important;
}
.medlemsboks {
	justify-content: center;
	width: 100%;
	display: none;
	padding-top: 5px;
	background-color: #CCC;
	color:#000000 !important;
	border-bottom: 5px solid #444;
}
.medlemsinnsideboks {
	width: 100%;
	max-width: 1400px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.medlemsboks h2, .medlemsboks h3 {
	color:#000000 !important;
}
.medlemstyper label {
	width: 16.66666666%;
	padding: 1.5% 0px;
	justify-content: center;
	text-align: center;
    -webkit-transition: background 0.4s ease;
    -moz-transition: background 0.4s ease; 
    -o-transition: background 0.4s ease;
	transition: background 0.4s ease;
}
.medlemstyper label:hover {
	background:#111;
	-webkit-transition: background 0.4s ease;
    -moz-transition: background 0.4s ease; 
    -o-transition: background 0.4s ease;
	transition: background 0.4s ease;
}
.medlemlabel + input {
	display: none;
}
.apartnere + input:checked + label + input + label + input + label + input + label + input + div,
.amusicalmanagement + input:checked + label + input + label + input + label + input + div + div,
.adeals + input:checked + label + input + label + input + div + div + div,
.aetc + input:checked + label + input + div + div + div + div,
.ashowering + input:checked + div + div + div + div + div {
	display:flex;
	flex-wrap: wrap;
	padding: 2vw;
}
/*========================================= ALUMNIBOKS =================================*/

.alumniboks  {
	margin-top: -300px;
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;
	text-transform: uppercase;
	background-color: #FFF !important;
	color:#FFF;
}
.alumnilabel {
	margin: 0px !important;
	width: 100%;
	justify-content: center;
	text-align: center;
	padding: 0px 30px;
    -webkit-transition: background 1s ease;
    -moz-transition: background 1s ease; 
    -o-transition: background 1s ease;
	transition: background 1s ease;
}
.alumnilabel:hover {
	-webkit-transition: background 1s ease;
    -moz-transition: background 1s ease; 
    -o-transition: background 1s ease;
	transition: background 1s ease;
}
.alumnimedlemsseksjon {
	background-color: #333;
	width: 100%;
	justify-content: center;
}
.alumnimedlemsseksjon div {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
.alumnilabel p {
	font-size: 32px;
	padding-top: 7px;
	margin: 0px auto;
	width: 140px;
	border-bottom: 5px solid rgba(255,255,255,0);
	-webkit-transition: border 0.6s ease;
    -moz-transition: border 0.6s ease; 
    -o-transition: border 0.6s ease;
	transition: border 0.6s ease;
}
@media (max-width: 300px) {
	.alumnilabel p {
		font-size: 24px;
		width:100px;
	}
}
.alumnilabel:hover p {
	border-bottom: 5px solid rgba(255,255,255,1);
	-webkit-transition: border 0.6s ease;
    -moz-transition: border 0.6s ease; 
    -o-transition: border 0.6s ease;
	transition: border 0.6s ease;
}
/*========================================= GRAFER =================================*/
.container {
	font-family: 'mkmfontenmedium' !important;
	line-height: 200% !important;
	width: 100%;
	background-color: #555;
}
.grafer {
	width: 100%;
	max-width: 1400px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin:auto;
}
.linjer, .doughnuter {
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.doughnutgraf {
	opacity: 20%;
	margin: 15px auto;
	height: 88vw;
	width: 80vw;
}
.linjegraf {
	opacity: 20%;
	margin: 15px auto;
	height: 53.33vw;
	width: 80vw;
}
@media (max-width: 300px) {
	.linjegraf + div {
	padding-bottom: 30px;
	}
}

.tree {
	position: relative;
	font-size: 24px;
	text-transform: uppercase;
	z-index:1;
}
.tree ul {
	position: relative;
	padding: 1em 0;
	white-space: nowrap;
	margin: 0 auto;
	text-align: center;
}
.tree ul::after {
	content: '';
	display: table;
	clear: both;
}

.tree li {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	list-style-type: none;
	position: relative;
	padding: 1em .25em 0 .25em;
}
.tree li::before, .tree li::after {
	content: '';
	position: absolute;
	top: 0;
	right: 50%;
	border-top: 1px solid #ccc;
	width: 50%;
	height: 1em;
}
.tree li::after {
	right: auto;
	left: 50%;
	border-left: 1px solid #ccc;
}
.tree li:only-child::after, .tree li:only-child::before {
	display: none;
}
.tree li:only-child {
	padding-top: 0;
}
.tree li:first-child::before, .tree li:last-child::after {
	border: 0 none;
}
.tree li:last-child::before {
	border-right: 1px solid #ccc;
	border-radius: 0 5px 0 0;
}
.tree li:first-child::after {
	border-radius: 5px 0 0 0;
}
.tree ul ul::before {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	border-left: 1px solid #ccc;
	width: 0;
	height: 1em;
}
.tree li div {
	border: 1px solid #ccc;
	padding: .65vw 1.75vw;
	text-decoration: none;
	display: inline-block;
	border-radius: 5px;
	color: #FFF;
	position: relative;
	top: 1px;
	font-size: 2.5vw;
}
.tree li div:hover,
.tree li div:hover + ul li div {
	background: #552E90;
	color: #fff;
	border: 1px solid #290A5D;
    -webkit-transition: background 0.2s ease;
    -moz-transition: background 0.2s ease; 
    -o-transition: background 0.2s ease;
	transition: background 0.2s ease;
}
.tree li div:hover + ul li::after,
.tree li div:hover + ul li::before,
.tree li div:hover + ul::before,
.tree li div:hover + ul ul::before {
	border-color: #290A5D;
    -webkit-transition: background 0.2s ease;
    -moz-transition: background 0.2s ease; 
    -o-transition: background 0.2s ease;
	transition: background 0.2s ease;
}
@media (max-width: 500px) {
	.tree li div {
		font-size: 13px !important;
	}
	.tree {
		font-size: 12px;
	}
	.tree li {
		padding: .5em .1em 0 .1em;
	}
	.tree li::before, .tree li::after {
	height: .5em;
	}
}
@media (max-width: 380px) {
	.tree li div {
		font-size: 10px !important;
	}
	.tree {
		font-size: 10px;
	}
	.tree li {
		padding: .2em .08em 0 .08em;
	}
	.tree li::before, .tree li::after {
	height: .2em;
	}
}
@media (max-width: 280px) {
	.tree, .orgkart {
		display: none;
	}
}
/*========================================= FIXED BILDEGREIE =================================*/
.hvitboks {
	height: 130px;
	background-color: #FFF;
	margin-bottom: -10px;
}
.hvitboks h1 {
	width: 100%;
	text-align: center;
	padding-top:3%;
	text-transform: uppercase;
	color: #290A5D;
	font-size: 300%;
}
.hvitboks hr {
	color: #290A5D;
	border: 1px solid #290A5D;
}
.fixedbildegreie {
	font-family: 'mkmfontenmedium' !important;
	line-height: 150%;
	background: none;
}
.fixedbildegreie h1 {
	line-height: 10px;
}
.imgleft {
	z-index: -10;
	margin: -40px 10vw -20px 10vw;
	padding: 0px;
	height: 60vw;
	width: 60vw;
	min-height: 150px;
	min-width: 150px;
	overflow: hidden;
	border-radius: 9999px;
}
.imgright {
	z-index: -10;
	margin: 0px 0px 0px 25vw;
	padding: 0px;
	height: 70vw;
	width: 70vw;
	min-height: 150px;
	min-width: 150px;
	overflow: hidden;
	border-radius: 9999px;
}
@media (max-width: 280px) {
	.imgleft, .imgright {
		width: 120px;
		height: 120px;
	}
	.imgleft {
		padding-top: 30px;
	}
}
.rightbox {
	color: #290A5D !important;
	width: 100%;
	height: 45vw;
	margin-left: auto;
	background-color: #FFF;
	min-height: 400px;
	z-index: 99999;
	margin-top: -20px;
}
.rightbox .tjenestetekst p, .rightbox .tjenestetekst h1 {
	color: #290A5D !important;
}
.leftbox {
	z-index: 99999;
	width: 100%;
	background-color: #555;
	min-height: 400px;
}
.tjenestetekst {
	padding: 8%;
	padding-top:10px;
	max-height: 140px;
}

/*========================================= TJENESTER =================================*/
.konsulentbilde {
	padding: 5%;
	width: 90%;
}
.booking, .booking h1 {
	font-family: 'mkmfontenmedium' !important;
	margin-top: 0px;
	background-color: #FFF;
	color:#290A5D !important;
}
.booking hr {
	color: #290A5D !important;
	border: 1px solid #290A5D;
}
.bookinginnhold p {
	color:#290A5D !important;
}
.bookinginnhold {
	margin: auto;
	width: 100%;
	max-width: 1400px;
	display: flex;
	flex-direction: column;
}
.bookinginformasjon div div:hover {
	background-color: #290A5D;
	-webkit-transition: background 0.4s ease;
    -moz-transition: background 0.4s ease; 
    -o-transition: background 0.4s ease;
	transition: background 0.4s ease;
}
.bookinginnhold li a {
	color:#290A5D;
}
.bookinginformasjon {
	margin: auto;
	margin-top: 30px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	color: #290A5D;
	width: 100%;
	max-width: 1000px;
	justify-content: space-around;
	font-size: 20px;
	text-align: center;
}
.bookinginformasjon div {
	justify-content: center;
	align-items: center;
	width: 160px;
	height: 220px;
	padding:0px;
}
.bookinginformasjon div div {
	width: 160px;
	height: 160px;
	border-radius: 80px;
	background-color: #522E90;
    -webkit-transition: background 0.4s ease;
    -moz-transition: background 0.4s ease; 
    -o-transition: background 0.4s ease;
	transition: background 0.4s ease;
}
.bildelink1 {
	width: 80px;
	height: 50px;
	margin: 55px 40px;
}
.bildelink2 {
	width: 120px;
	height: 80px;
	margin: 40px 20px;
}
.bildelink3 {
	width: 60px;
	height: 100px;
	margin: 60px 50px 0px 50px;
}
/*========================================= BYGG DIN KARRIERE I MKM =================================*/
/*------- VISE OG SKJULE -------*/
.collapse {
	margin-top: 10px;
	cursor: pointer;
	display: block;
	background: #290A5D;
	text-align: center;
	line-height: 45px;
	font-size: 24px;
	color:#FFF;
    -webkit-transition: background 0.4s ease;
    -moz-transition: background 0.4s ease; 
    -o-transition: background 0.4s ease;
	transition: background 0.4s ease;
}
.collapse:hover {
	background:#34106D;
    -webkit-transition: background 0.4s ease;
    -moz-transition: background 0.4s ease; 
    -o-transition: background 0.4s ease;
	transition: background 0.4s ease;
}
.collapse .bygg {
	font-size: 20px; 
	padding-top: 5px;
	margin: 0px auto;
	width: 220px;
	border-bottom: 5px solid rgba(255,255,255,0);
	-webkit-transition: border 0.6s ease;
    -moz-transition: border 0.6s ease; 
    -o-transition: border 0.6s ease;
	transition: border 0.6s ease;
}
.collapse:hover .bygg {
	border-bottom: 5px solid rgba(255,255,255,1);
	-webkit-transition: border 0.6s ease;
    -moz-transition: border 0.6s ease; 
    -o-transition: border 0.6s ease;
	transition: border 0.6s ease;
}
.collapse + input {
	display: none;
}
.collapse + input + div {
	display:none;
}
.collapse + input:checked + div {
	display:block;
}

/*------- INNHOLD I KARRIEREBOKSEN -------*/
.karriere {
	background-color: #FFF;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	color: #290A5D !important;
	border-bottom: 12px solid #290A5D;
}
.karriere div {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
.karriere mark {
	color: #290A5D !important;
}
.karriere h2 {
	font-size: 32px;
	color: #290A5D !important;
}
.karriere img {
	width: 94vw !important;
	height: 94vw !important;
	padding: 3vw 3vw;
	order:999;
}
.bildetekst {
	max-width: 1250px;
	margin: auto;
	display: flex;
	flex-direction: row;
	min-height: 200px;
	justify-content: left;
}
.bildetekst p {
	padding:0px;
	margin:0px;
}
.hoyresentrert {
	justify-content: flex-end;
}

@media (min-width: 350px) {
	.bildetekst img {
		width:200px;
		height: 200px;
		z-index: 10;
	}
}

/*----------------------- SITATER -------------------*/
.tekstboks1 {
	line-height: 140%;
	margin:auto;
	padding: 6px 2% 0px 2%;
}
.tekstboks1 h2 {
	padding: 5px 0px 12px 0px;
	margin: auto;
	text-align:center;
	text-transform: uppercase;
}
.sitatboks1 {
	font-family: 'mkmfontenmedium';
	background: linear-gradient(141deg, #6847A0 0%, #522E90 51%, #3D1B77 75%);
	padding: 2% 0px;
}
.sitatboks2 {
	font-family: 'mkmfontenmedium';
	background: linear-gradient(141deg, #444 0%, #555 51%, #555555 75%);
	padding: 2% 0px;
}
.sitatboks3 {
	font-family: 'mkmfontenmedium';
	background: linear-gradient(141deg, #6847A0 0%, #522E90 51%, #3D1B77 75%);
	padding: 2% 0px;
}
.tekstboksv {
	margin: auto 0 auto 0;
	padding: 0px 2% 0px 2%;
}
.tekstboksv h2 {
	padding: 0px;
	margin: 0px;
}
.tekstboksh {
	margin: auto 0 auto 0;
	padding: 0px 2% 0px 2%;
}
.tekstboksh h2 {
	padding: 0px;
	margin: 0px;
}
.sitatboks1 img, .sitatboks2 img, .sitatboks3 img {
	border-radius: 200px;
}


/*========================================= VIDEO =================================*/
#myBtn {
	border: none;
	margin: auto;
	width: 50vw;
	height: 28vw;
	min-width: 250px;
	overflow: hidden;
	min-height: 168.75px;
	background: url("../images/thumbnailbakgrunn.jpg") center no-repeat;
	background-size: cover;
	cursor:pointer;
	margin-bottom: 50px;
}
#myBtn img {
	width: 30%;
	height: 30%;
	padding: 0px;
    -webkit-transition: filter .4s ease;
    -moz-transition: filter .4s ease;
    -o-transition: filter .4s ease;
	transition: filter .4s ease;
	filter: none;
}
#myBtn img:hover {
	filter: brightness(1.7);
    -webkit-transition: filter .4s ease;
    -moz-transition: filter .4s ease;
    -o-transition: filter .4s ease;
	transition: filter .4s ease;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1000000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.7);
}

.modal-content {
    margin: auto;
    padding: 0px;
    width: 90vw;
    height: 50.625vw;
    margin-top:20vh;
}
.modal-content iframe {
	width: 90vw;
	height: 50.625vw;
	margin: auto;
}
.close {
	display: none;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/*========================================= KONTAKTLINJEN I BUNNEN =================================*/
.kontaktoss {
	padding:10px 0px 10px 0px;
	margin:0px;
	color:white;
	background-color:#222;
	display: flex;
	flex-direction: column;
	justify-content:center;
	font-family: 'mkmfontenmedium' !important;
}
.kontaktoss div{
	display: flex;
	flex-direction: column;
	margin:auto;
	padding:0px 5px 0px 5px;
}
.kontaktoss div div {
	display: flex;
	flex-direction: row;
	text-align: center;
	justify-content: center;
	width:250px;
	margin-top: -11px;
}
.samarbeidspartnere {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.samarbeidspartnere div {
	width:100%;
}
.samarbeidspartnere mark {
	color: #FFF;
}
.kontaktoss img {
	height:70px;
	width:70px;
}
.linkmedia {
	padding-top: 4px;
	padding-bottom: 0px;
	text-align: center;
	width:100%;
	background-color: #333;
	margin-top: 40px;
}
.linkmedia img {
	flex:1;
	padding:5px;
	width: 50px;
	height: 50px;
	margin: 0 auto;
}
.rettigheter {
	font-size: 20px;
}

/*========================================= OVERLAYMENYEN FOR MOBILER =================================*/
#menu {
	width: 12vw;
	height: 0px;
	margin: 0px;
	padding: 0px;
}
#menu img {
	width: 7.5vw;
	height: 7.5vw;
	padding: 4px 0px 0px 0px;
	margin: 0px;
}
#toggle-nav + .box ul {
	display:none;
}
#toggle-nav:checked + .box ul {
	display:block !important;
	z-index: 9999 !important;
}
#toggle-nav:checked + .box {
	height: 100%;
}
#menu .box {
    position: fixed;
    text-align: center;
    overflow: hidden;
    z-index: -1;
    opacity: 0;
    width: 100%;
    height: 0%;
    left: 0px;
    top: 0px;
    background: rgba(0,0,0,0.8);
    -webkit-transition: all 0.3s ease-in-out; 
    -moz-transition: all 0.3s ease-in-out; 
    -o-transition: all 0.3s ease-in-out; 
    transition: all 0.3s ease-in-out;
}
#menu ul {
    position: relative;
    list-style: none;
    top: 20vh;
    margin-left: -22px;
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
    -webkit-transition: all 0.3s ease-in-out; 
    -moz-transition: all 0.3s ease-in-out; 
    -o-transition: all 0.3s ease-in-out; 
    transition: all 0.3s ease-in-out;
    z-index: -1;
}
#menu li {
     display: block; 
     margin: 0vw;
}
 
#menu li a {
	font-size: 26px;
    padding: 3vh 3vw 3vh 0px;
    text-decoration: none;
    color: #fff;
    -webkit-transition: all 0.2s ease-in-out; 
    -moz-transition: all 0.2s ease-in-out; 
    -o-transition: all 0.2s ease-in-out; 
    transition: all 0.2s ease-in-out;
    display: inline-block;
    position: relative;
    text-transform: uppercase;
}
#menu li a:after {
    content: '';
    display: block;
    margin: auto;
    right: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    margin-top: 3px;
    background: transparent;
    -webkit-transition: width .2s ease, background-color .2s ease; 
    -moz-transition: width .2s ease, background-color .2s ease;
    -o-transition: width .2s ease, background-color .2s ease; 
    transition: width .2s ease, background-color .2s ease;

}
#menu li a:hover:after {
    width: 100%;
    background: #522E90;
}
#menu li a:hover {
    color: #522E90;
}
#toggle-nav-label  {
    cursor: pointer;
    z-index: 500;
    background-image: url("Pics/menu_icon.png");
    background-repeat: no-repeat;
    position: fixed;
}   
#toggle-nav  { 
    display: none;
}
#toggle-nav:checked ~ .box { 
    opacity: 1; 
    z-index: 400;
}
#toggle-nav-label p {
    margin-left: 2.5em;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 5px;
    color: #000;
    letter-spacing: .1em;
}
#toggle-nav-label:hover {
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    transition: .2s;
}
#toggle-nav:checked ~ .box ul {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.centered {
	text-align: center;
}